streamlit
streamlit-mic-recorder
openai
psycopg2-binary
requests
beautifulsoup4
pypdf
python-docx
openpyxl
python-pptx
tavily-python
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-cohere
langchain-huggingface
langgraph
fastapi
uvicorn
chromadb
cohere
sentence-transformers
tiktoken
pydantic
sqlalchemy
python-dotenv
